<ul>
	<li> Devin Andrews Hobbies</li>
	<ul>
	<% ['Coding', 'Weightlifting', 'Listening to kickass music', 'Bulldog Handling'].each do |hobby| %>
		<li><%= hobby %></li>
	<% end %>
	</ul>

	<%= Time.now %>
</ul>